networks:
  share-net-ollama:
    name: share-net-ollama
    attachable: true

services:    
  ollama:
    container_name: ollama-vulkan
    # image: docker.io/ollama/ollama:latest
    # amd gpu
    runtime: amd
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - AMD_VISIBLE_DEVICES=all
    build:
      context: .
      dockerfile: dockerfile.vulkan

    shm_size: 16g
    volumes:
      - /data/volumes-data/models/ollama:/root/.ollama/models

    tty: true
    restart: unless-stopped

    # network_mode: "host"
    dns:
      - 1.1.1.1
      - 8.8.8.8
    networks:
      - share-net-ollama

volumes:
  ollama:

